# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Modelos baixados pelo Whisper (cache)
.cache/
models/
